* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    background-color: transparent;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid aliceblue; 
    border-radius: 8px; 
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

article > img {
    max-width: 100%;
    width: 150px;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
    margin: 5px;
}

form {
    background-color: rgba(255, 255, 255, 0.05); 
    padding: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

form > h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

legend {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #dddddd;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: #222;
    color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
}

input[type="submit"] {
    background-color: #005b96;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #003d66;
}

form div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

form div label {
    margin: 0;
    font-weight: normal;
    color: #ddd;
}
